* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }

  #placeholder {
    height: 200px;
    width: 200px;
    padding: 50px;
    margin: 50px auto;
    font-size:150px;
  }
  #button {
    height: 200px;

  }
